################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeferredShading/DeferredShading.VC.VC.opendb
